@import '../../styles/config';

.hero {
	color: $white;

	&-section {
		height: 665px;
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		@include mobile {
			border-radius: 13px;
			height: 554px;
			align-items: flex-end;
			justify-content: flex-start;
		}

		&__title {
			margin-bottom: 76px;

			@include mobile {
				margin-left: 22px;
				margin-bottom: 30px;
				max-width: 320px;
			}
		}

		&__img {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;

			img,
			picture,
			svg {
				width: 100%;
				height: 100%;
			}

			img,
			picture {
				object-fit: cover;
			}

			svg {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				background-color: rgba(#171717, 0.3);
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
			}
		}
	}
}

// Service Cards styles

.service-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-content: center;
	gap: 20px 19px;
	margin-top: -150px;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 20px;
	}

	@include mobile {
		grid-template-columns: repeat(1, 1fr);
		gap: 11px;
	}
}

.service-card {
	position: relative;
	border-radius: 26.67px;
	overflow: hidden;
	padding: 26px 34px;
	height: 280px;
	z-index: 1;

	@include mobile {
		border-radius: 13px;
		height: 160px;
		padding: 14px 20px;
	}

	&::after,
	svg,
	img {
		transition: 0.3s;
	}

	svg {
		margin-top: 6px;

		@include mobile {
			width: 13px;
			margin-top: 0;
		}
	}

	&__title {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;

		span {
			display: block;
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	}

	&::after,
	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: $primary-color;
	}

	&::after {
		@include mobile {
			background: linear-gradient(180deg, #18306c 0%, rgba(47, 93, 210, 0) 100%);
		}
	}

	&::before {
		mix-blend-mode: color;
		z-index: 0;
	}

	&:hover {
		&::after {
			opacity: 0;
		}

		img {
			transform: scale(1.06);
		}

		svg {
			transform: translate(6px, -6px);
		}
	}
}
