body {
	font-family: $font-family;
	background-color: $white;
	color: rgba($primary-color, 0.8);
	font-size: 22px;
	scrollbar-gutter: stable;

	@include tablet {
		font-size: 16px;
	}
}

.page {
	padding-top: 133px;

	@include tablet {
		padding-top: 82px;
	}
}

// Container / wrapper
.container {
	width: min(1920px, 100%);
	margin-inline: auto;
	padding: 0 20px;
}

.wrapper {
	padding: 0 40px;

	@include tablet {
		padding: 0;
	}
}

// Buttons Style
.main-btn {
	text-align: center;
	border-radius: 100px;
	padding: 16px 50px 17px;

	border: 1px solid $primary-color;

	font-size: 20px;
	color: $white;
	background-color: $primary-color;

	@include tablet {
		font-size: 18px;
		padding: 11px 30px 12px;
		width: 100%;
	}

	&:hover {
		background-color: $white;
		color: $primary-color;
	}

	&.disabled {
		background-color: $disabled-color;
		color: rgba($white, 0.87);
		pointer-events: none;
	}
}

// Texts size
.h1 {
	font-size: 60px;
	line-height: 112%;

	@include tablet {
		font-size: 45px;
		line-height: 97%;
	}
}

.h2 {
	font-size: 34px;
	line-height: 110%;
	letter-spacing: -0.34px;

	@include tablet {
		font-size: 26px;
		line-height: 120%;
		letter-spacing: 0;
	}
}

.h3 {
	font-size: 26px;

	@include tablet {
		font-size: 18px;
	}
}

.title {
	font-size: 24px;
	line-height: 130%;
	letter-spacing: 0.24px;
	color: $primary-hover;
	margin-top: 100px;
	padding-top: 16px;
	border-top: 1px solid rgba($primary-color, 0.2);

	@include tablet {
		font-size: 20px;
		margin-top: 70px;
		padding-top: 11px;
	}
}

.text {
	letter-spacing: 0.11px;
}

.text-small {
	font-size: 16px;
	line-height: 140%;

	@include tablet {
		font-size: 14px;
		line-height: 115%;
	}
}
