@import '../../styles/config';

.header {
	padding: 37px 0 34px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: $white;
	font-size: 20px;

	&-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-nav {
		// white-space: nowrap;
		a:not(:last-child) {
			margin-right: 98px;
		}

		a:hover {
			color: $primary-hover;
		}
	}
}
