@import '../../styles/config';

.video-section {
	margin-top: 100px;
	margin-bottom: 100px;

	@include mobile {
		margin-bottom: 70px;
		margin-top: 70px;
	}

	.container {
		@include mobile {
			padding: 0;
		}
	}
}

.video {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 1;

	@include mobile {
		height: 480px;
		border-radius: 0;
	}

	.bg-svg {
		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}

	&::before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($black, 0.2);
		z-index: 0;
	}

	video {
		border-radius: 20px;
		width: 100%;

		@include mobile {
			border-radius: 0;
			height: 100%;
			object-fit: cover;
		}
	}
}

.mute-button {
	position: absolute;
	top: 30px;
	right: 30px;
	z-index: 5;
}
