@import '../../styles/config';

.footer {
	color: $white;
	font-size: 16px;
	padding-bottom: 20px;

	a {
		color: rgba($white, 0.5);

		&:hover {
			color: rgba($white, 1);
		}
	}

	&-logo {
		width: 100%;
		text-align: right;
	}

	&__logo {
		svg path {
			fill: $white;
		}
	}

	.ul-title {
		font-size: 20px;

		span {
			font-size: 16px;
			display: block;
		}
	}

	&-container {
		border-radius: 20px;
		padding: 45px;
		overflow: hidden;
		background-color: $primary-color;
		position: relative;
		z-index: 1;
	}

	&__lines {
		svg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}
}

// Main Structure Styles
.footer-row {
	display: flex;
	justify-content: space-between;

	&--top {
		align-items: baseline;
	}
}

.footer-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&--right {
		max-width: 721px;
		width: 100%;
	}
}

.footer-nav,
.footer-copy,
.footer-address {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer-address {
	.ul-title {
		min-height: 50px;
		margin-bottom: 15px;
	}

	p {
		color: rgba($white, 0.8);
		max-width: 183px;

		&:not(:last-child) {
			margin-bottom: 27px;
		}

		span {
			display: block;
		}
	}
}

.footer-list,
.footer-cert {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	.ul-title {
		grid-column: span 2;
	}
}

.footer-list {
	column-gap: 20px;
}

.footer-offices,
.footer-policy {
	display: grid;
	grid-template-columns: minmax(0, 212px) 1fr;
	gap: 104px;
}

.footer-copy p {
	grid-column: span 2;
}

// All footer styles
$marginLeft: 40px;

.footer-copy a {
	margin-left: $marginLeft;
}

.footer-nav,
.footer-address {
	> * {
		min-width: 188px;

		&:first-child {
			margin-right: 86px;
		}
	}

	> *:last-child {
		margin-left: $marginLeft;
	}
}

.footer-nav {
	margin-top: 25px;

	&.disabled {
		display: none;
	}

	.ul-title {
		margin-bottom: 38px;
	}

	li {
		&:not(.ul-title):not(:last-child) {
			margin-bottom: 11px;
		}
	}
}

.footer-form {
	max-width: 725px;
	width: 100%;
	margin-bottom: 137px;

	.h2 {
		margin-bottom: 30px;
	}
}

.footer-international {
	> .ul-title {
		margin-bottom: 44px;
	}
}

.footer-cert {
	column-gap: 20px;

	> .ul-title {
		margin-bottom: 44px;
	}

	ul {
		line-height: 140%;

		li {
			margin-bottom: 4px;
		}

		.ul-title {
			font-size: 16px;
			margin-bottom: 10px;
		}
	}
}

.footer-international {
	p {
		&:not(:last-child) {
			margin-bottom: 21px;
		}

		span {
			display: block;
		}
	}
}

.footer-list-sbe {
	padding-left: 35px;
}

.footer-copy,
.footer-policy {
	font-size: 14px;
}

.footer-copy {
	margin-top: 72px;
}

.footer-policy {
	align-items: end;
}

.footer-social {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;

	ul {
		display: flex;
		gap: 22px;
		margin-left: 30px;
	}

	a {
		display: block;

		&:hover {
			svg path {
				fill: $primary-hover;
			}
		}
	}
}
